		<div id="aside">
			<h3>Kategori</h3>
			<hr/>
			<dl class="dl-vertical">
				<%Category.all.each do |cat| %>
				<dt><%= cat.name %></dt>
					<% Article.select('title').where('category_id=?',cat.id).order('id DESC').each do |art| %>
						<dd><a href="<%=art.id%>"><%= art.title%></a></dd>
					<% end %>
				<% end %>
				<br/>
			</dl>
		</div>