<article id="home">
	<div id="section">
		<div id="list_articles">
		<% @articles.each do |v| %>
				<h3 id="title"><%=v.title%></h3>
		  		<p id="content"><%=v.content[0..100]%> <a href="<%=v.id%>" id="read_more">read more ...</a></p>
		<% end %>
		</div>
		<div id='aside'>
			<h3>About Me</h3>
			<p>Ainun Jariya<br/>
			FB: ainuyasa</p>
		</div>
	</div>
</article>