<article id="home">
	<div id="section">
		<div id="list_articles">
	<h1 id="page_title">Daftar Artikel</h1><br/>
		<dl>
		<% @articles.each do |v| %>
				<dt id="title"><b><%=v.title%></b></dt>
		  		<dd id="content"><%=v.content[0..100]%> <a href="/<%=v.id%>" id="read_more">read more ...</a></dd>
		  		<br/>
		<% end %>
		</dl>
		</div>
		<%= render 'aside' %>
	</div>
</article>