<article id="home">
	<div id="last_article">

		<h2 id="title"><%=@article.title%></h2>
		<p id="content"><%=@article.content%></p>

	</div>

	<fieldset id="comment">
		<legend>Komentar</legend>
		<form>
			<textarea name="comment" maxlength="200" id="text-comment"></textarea><br/>
			<input type="submit" name="send" id="send" value="Kirim"class="btn btn-primary">
		</form>
	</fieldset>

	<p><b>User Name</b><br/>
	Comment</p>
	

	
</article>