<article id="home">
<div id="messages">
      <%= render 'layouts/messages'%>
    </div>

<p>
  <strong>Detail Kategori: </strong>
  <%= @category.name %>
</p>

<%= link_to 'Edit', edit_category_path(@category),{class:"btn btn-default btn-lg", style:'float:right;'} %> 
<%= link_to 'Back', categories_path, {class:"btn btn-default btn-lg", style:'float:left;'} %>
</article>